
.App {
  /* text-align: center; */
  background-color: #853536;
}

.team-member:hover {
  box-shadow: 4px 4px 20px 0 rgb(0, 0, 0, 40%), -4px -4px 20px 0 rgba(250, 25, 25, 0.8);
}


/* Images */

.image {
  width: 150px;
  height: 150px;
}

/* .App-header {
  background-color: #853536;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
} */

.team-img-fun {
  display: none;
  margin: 0 auto;
  width: 150px;
  height: 150px;
  border-radius: 100%;
  /* border: solid #8872AB; */
  border-bottom: solid 5px  #ec1e4b;
}

.image:hover .team-img-fun {
  display: inline;
  margin: 1px;
}

.image:hover .team-img {
  display: none;
  margin: 1px;
}


/* Name and title */

.team-name {
  color: black;
  font-style: normal;
  text-align: center;
  margin-bottom: 0;
}

.team-title {
  color: black;
  font-style: normal;
  text-align: center;
  margin-top: 4px;
}

.team-member h4 {
  display: block;
  font-size: 16px;
  margin-block-start: 1.33em;
  /* margin-block-end: 1.33em; */
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: bold;
}


/* 'Meet The Team' section end */


/* ********************************************** */


/* **************************************** */

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* NavBar{
  background-color: #853536;
  color: #FFF;
text-align: center;
font-family: Space Grotesk;
font-size: 180px;
font-style: normal;
font-weight: 700;
line-height: normal;
} */
body{
  background-color: #853536;

}